.header__logo {
  width: 142px;
  height: 33px;
  margin-right: auto;
}

@media screen and (max-width: 487px) {
  .header__logo {
    width: 104px;
    height: 24px;
    position: relative;
    bottom: 2px;
  }
}
