.auth__hint {
  margin: 15px 0 0;
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  min-height: 17px;
}

@media screen and (max-width: 487px) {
  .auth__hint {
    margin-top: 20px;
    color: white;
  }
}
